/*#region Colors*/
body {
    background-color: black;
}

/*.ui.steps .step.active .title*/
a, a:hover,
.ui.list > .item .header{  
    color: #42DCA3;
}



.ui.list > .item .description {
    color: white;
}

/*.ui.steps .step.active{
    background: #4C4E4F;
}*/

.recapApp {
    background-color: black;
    color: white;
    margin-top: 60px;
}
/*#endregion*/

/*#region General Styles*/
.ui.icon.input, .results {
    min-width: 100%;
}

.content .header:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ui.fluid.steps{
    margin-bottom: 5%;
}
/*#endregion*/
