/*#region General Styles*/
body {
    background-color: black;
}

.recapApp {
    background-color: black;
    color: white;
    margin-top: 60px;
}

.content .header:hover{
    text-decoration: underline;
    cursor: pointer;
}

a, a:hover{  
    color: #42DCA3;
}

i.inverted.circular.teal.icon{
    background-color: #33ad80!important; /*marked as important in semantic-ui's css*/
}
/*#endregion*/


/*#region Input Styles */
.ui.icon.input, .results {
    min-width: 100%;
}

.ui.icon.input > i.icon{  
    color: #42DCA3;
}

.ui.input input::-webkit-input-placeholder{  
    color: #42DCA3;
}

.ui.input input::-moz-placeholder{  
    color: #42DCA3;
}

.ui.input input:-ms-input-placeholder{  
    color: #42DCA3;
}

.ui.input input:-moz-placeholder {  
    color: #42DCA3;
}

.ui.input input:focus, .ui.input.focus input{
    border-color: #42DCA3;
}
/*#endregion*/


/*#region Search Result Colors*/
.ui.search > .results{
    background-color: #191919;
    border-color: #33ad80;
}

    .ui.search > .results .result{
        border-bottom-color: #42DCA3;
    }

    .ui.search >.results .result:hover{
        background-color: #272727;
    } 
    
        .ui.search > .results .result .description{
            color: #ededed;
        }

        .ui.search > .results .result .title {  
            color: #42DCA3;
        }   
/*#endregion*/


/*#region List Styles*/
.ui.list > .item .header{  
    color: #42DCA3;
}

.ui.list > .item .description {
    color: white;
}

.ui.list > .item > i.icon{
    display: inline-block;
}
/*#endregion*/
    

/*#region Step Styles*/
.ui.fluid.steps{
    margin-bottom: 5%;
}

.ui.steps .step,
.ui.steps .step:after{
    background: #3a3a3a;
}

.ui.steps .step.active .title,
.ui.steps .step.active .icon{
    color: #33ad80;
}

.ui.steps a.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.active.step:hover,
.ui.steps a.active.step:hover::after,
.ui.input input,
.ui.input input:focus{
    background: #191919;
    color: #42DCA3;
}

.ui.steps .disabled.step,
.ui.steps .disabled.step:after{
    background: #565656;
}

.ui.steps .step.active,
.ui.steps .step.active:after{
    background: #272727;
}
/*#endregion */


/*#region Messages*/
.ui.error.message .header a{
    color: #912D2B;
    text-decoration: underline;
    cursor: pointer;
} 

.ui.positive.message{
    background-color: #33ad80;
    box-shadow: 0 0 0 1px #33AD80 inset, 0 0 0 0 transparent
}

    .ui.positive.message .header {
        color: black;
    }

    .ui.positive.message p{
        font-size: 15px;
        color: #303030;
    }

    .ui.positive.message a{
        color: #303030;
        text-decoration: underline
    }

    .ui.positive.message a:hover{
        cursor: pointer
    }
/*#endregion*/

/*region Buttons*/
.btn-success{
    background-color: #33ad80; 
    color: black;
}
/*#endregion*/