<div class="row">
    <!-- Steps -->
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div class="ui fluid mini steps">
            <a id="stepOne" class="active step">
                <i class="users icon"></i>
                <div class="content">
                    <div class="title">Artist</div>
                </div>
            </a>
            <a id="stepTwo" class="disabled step">
                <i class="calendar icon"></i>
                <div class="content">
                    <div class="title">Show</div>
                </div>
            </a>
            <a id="stepThree" class="disabled step">
                <i class="music icon"></i>
                <div class="content">
                    <div class="title">Setlist</div>
                </div>
            </a>

        </div>
    </div>
</div>
<div class="row">
    <!-- Step 1: Search for an Artist -->
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div ng-hide="selectedArtist" id="artistSearch" class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text"
                       placeholder="Search for an artist">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-md-offset-4 col-lg-offset-4">
        <!-- Step 2: Display and Select a show -->
        <div id="showList" ng-hide="playlist" ng-show="selectedArtist" class="ui animated list">
            <div class="item" ng-repeat="setlist in setlists" ng-click="getSetlistSongs(setlist)">
                <div class="content">
                    <div class="header">{{setlist.venue}}</div>
                    <div class="description">{{setlist.date | date : 'mediumDate'}}</div>
                </div>
            </div>
        </div>

        <!-- Step 3: Display and Save songs -->
        <div id="songList" ng-show="playlist">
            <div class="btn btn-success" target="popup" ng-click="spotifyLogin()">
                Log in and save
            </div>
            <div class="ui animated list">
                <div class="item" ng-repeat="song in playlist.songs">
                    <img class="ui avatar image" src="{{song.image}}">
                    <div class="content">
                        <div ng-click="playPreview(song.id)" class="header" title="Listen to Preview">
                            {{song.name}}
                        </div>
                        <div class="description">
                            by {{song.artist}} on {{song.album}}
                        </div>
                        <div>
                            <audio id="{{song.id}}" src="{{song.preview}}"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


    