<div class="row">
    <!-- Steps -->
    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <!--About-->
        <div class="ui positive message">
            <div class="header">
                Recap the Night!
            </div>
            <p>Search through shows on <a href="http://www.setlist.fm" target="_window"> setlist.fm</a> and save the playlist
                to your Spotify account
            </p>
        </div>


        <div class="ui fluid mini steps">
            <a id="stepOne" class="active step">
                <i id="stepOneIcon" class="users icon"></i>
                <div class="content">
                    <div id="stepOneTitle" class="title">Artist</div>
                </div>
            </a>
            <a id="stepTwo" class="disabled step">
                <i class="calendar icon"></i>
                <div class="content">
                    <div class="title">Show</div>
                </div>
            </a>
            <a id="stepThree" class="disabled step">
                <i class="music icon"></i>
                <div class="content">
                    <div class="title">Setlist</div>
                </div>
            </a>
        </div>
    </div>
</div>