<nav id="subpageNavbar" class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/#!/" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
            <a class="navbar-brand" href="/#!/">
                <i class="fa fa-home" aria-hidden="true"></i> Aldrin Abastillas
            </a>
        </div>
    </div>
</nav>